.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.text-container {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
}

.PageButton {
  background-color: #1c1b40;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
}

.images {
  height: 30%;
  width: 53%;
  border-radius: 10px;
}
